.article{
	background-color: lightgray;
	padding: 40px;
	border-radius: 6px;
}
h1{
	font-weight: bold;
}

ul, a{
	background-color: black;
	margin-left: 57px;
}
.home{
	color: white;
}

.touch{
	color: rgb(199, 212, 14);
}

.active a{
	background-color: black;
}

.fooot{
	margin-top: 70px;
	margin-left: 85px;
	margin-bottom: 100px;
}
.input{
	margin-top: 8px;
	margin-left: 876px;	
}

.bob{
	margin-left: -100px;
}



.naver{
	background-color: black;
}