.article{
	background-color: lightgray;
	padding: 40px;
	border-radius: 6px;
}
h1{
	font-weight: bold;
}

ul, a{
	background-color: black;

}
.home{
	color: white;
}

.active a{
	background-color: black;
}
.form-inline{
	margin-left: 640px;
	top: 10px;
}
.1{
	background-color: lightgray;
}
.fooot{
	margin-top: 70px;
	margin-left: 85px;
	margin-bottom: 100px;
}
.input{
	margin-top: 7px;
}
.navbar-brand {
   
    padding: 15px 15px;
    
}
